---
layout: page
title: Bastián González-Bustamante
sidebar_link: false
---

<h2>Editor</h2>

<a class="icon" title="Email" aria-label="Email" href="mailto:bastian.gonzalez.b@usach.cl">{% include svg/envelope-solid.svg %}</a>
<a class="icon" title="Oxford" aria-label="Oxford" href="http://users.ox.ac.uk/~shil5311/" target="_blank">{% include svg/university-solid.svg %}</a>
<a class="icon" title="Landing Page" aria-label="Landing Page" href="https://bgonzalezbustamante.com/" target="_blank">{% include svg/home-solid.svg %}</a>
<a class="icon" title="ORCID iD" aria-label="ORCID iD" href="http://orcid.org/0000-0003-1510-6820" target="_blank">{% include svg/orcid-brands.svg %}</a>
<a class="icon" title="GitHub" aria-label="GitHub" href="https://github.com/bgonzalezbustamante" target="_blank">{% include svg/github-alt-brands.svg %}</a>

<p align=" justify">PRS DPhil in Politics, Department of Politics and International Relations &amp; St Hilda’s College, University of Oxford, United Kingdom. Profesor Instructor, Departamento de Gestión y Políticas Públicas, Facultad de Administración y Economía, Universidad de Santiago de Chile.</p>

<p align=" justify">También es Magíster en Ciencia Política, Licenciado en Ciencias Políticas y Gubernamentales con mención en Gestión Pública y Administrador Público por la Universidad de Chile. Además ha trabajado como profesor en la Universidad de Chile y consultor para el Programa de las Naciones Unidas para el Desarrollo.</p>

<p align=" justify">Sus intereses de investigación se enfocan principalmente en la estabilidad de los gabinetes en las democracias presidenciales latinoamericanas, procesos de socialización de la élite política, servicios civiles, participación política y gobierno electrónico.</p>
