---
layout: page
title: Elinor Luco
sidebar_link: false
---

<h2>Asistente Editorial</h2>

<a class="icon" title="Email" aria-label="Email" href="mailto:elinor.luco@usach.cl">{% include svg/envelope-solid.svg %}</a>
<a class="icon" title="GitHub" aria-label="GitHub" href="https://github.com/elinorlucoq" target="_blank">{% include svg/github-alt-brands.svg %}</a>

<p align=" justify">Es Licenciada en Ciencias de la Administración Pública y Administradora Pública por la Universidad de Santiago de Chile. Ha trabajado como ayudante de cátedra y asistente de investigación en la Universidad de Santiago de Chile.</p>

<p align=" justify">Sus intereses se enfocan principalmente en el estudio de las élites políticas, participación ciudadana, comportamiento electoral y transparencia en la gestión pública.</p>
