<div class="post-meta">
  <span class="post-date">{% assign m = post.date | date: "%-m" %}
		  {% case m %}
		  {% when '1' %}Enero
		  {% when '2' %}Febrero
		  {% when '3' %}Marzo
		  {% when '4' %}Abril
		  {% when '5' %}Mayo
		  {% when '6' %}Junio
		  {% when '7' %}Julio
		  {% when '8' %}Agosto
		  {% when '9' %}Septiembre
		  {% when '10' %}Octubre
		  {% when '11' %}Noviembre
		  {% when '12' %}Diciembre
		  {% endcase %}
		  {{ post.date | date: "%Y" }}</span>
  <span class="post-categories">
    {% for category in include.post.categories %}
      &bull;

      {% comment %}
        Check if this category has a corresponding page before decide
        to link to it. This is an O(n^2) operations so consider removing
        it and linking for all categories (or no categories) if this
        site has a lot of pages and/or a lot of categories.
      {% endcomment %}
      {% assign category_page = false %}
      {% for node in site.pages %}
        {% if node.category == category or node.title == category %}
          {% assign category_page = node %}
        {% endif %}
      {% endfor %}

      {% if category_page %}
        <a href="{{ category_page.url | relative_url }}">
          {{ category_page.title | default: category_page.category }}
        </a>
      {% else %}
        {{ category }}
      {% endif %}
    {% endfor %}
  </span>
</div>
