<nav id="sidebar-icon-links">
  {% if site.hydeout.repo %}
    <a id="github-link"
       class="icon" title="Github Project" aria-label="Github Project"
       href="https://github.com/bgonzalezbustamante/tuftepapers">
      {% include svg/github.svg %}
    </a>
  {% endif %}
    <a id="email-link"
       class="icon" title="E-mail" aria-label="E-mail"
       href="mailto:contact@tuftepapers.com">
      {% include svg/envelope-regular.svg %}
    </a>
    <a id="editor-email"
       class="icon" title="Editor" aria-label="Editor"
       href="http://users.ox.ac.uk/~shil5311/">
      {% include svg/user-regular.svg %}
    </a>
</nav>
