<nav id="sidebar-icon-links">
<a href="https://www.buymeacoffee.com/tuftepapers" target="_blank"><img src="https://raw.githubusercontent.com/bgonzalezbustamante/tuftepapers/master/coffee.png" alt="Buy Me A Coffee" style="height: 38px !important;width: 163px !important;" ></a>
  
  {% if site.hydeout.repo %}
    <a id="github-link"
       class="icon" title="Github Project" aria-label="Github Project"
       href="{{ site.hydeout.repo }}">
      {% include svg/github.svg %}
    </a>
  {% endif %}
</nav>
