---
layout: page
---

{% unless page.content == '' %}
  {{ content }}
{% endunless %}

<ul class="posts-list">
  {% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
    <li>
      <h3>
        <a href="{{ post.url | relative_url }}">
          {{ post.title }}
          <small>{% assign m = post.date | date: "%-m" %}
		  {% case m %}
		  {% when '1' %}Enero
		  {% when '2' %}Febrero
		  {% when '3' %}Marzo
		  {% when '4' %}Abril
		  {% when '5' %}Mayo
		  {% when '6' %}Junio
		  {% when '7' %}Julio
		  {% when '8' %}Agosto
		  {% when '9' %}Septiembre
		  {% when '10' %}Octubre
		  {% when '11' %}Noviembre
		  {% when '12' %}Diciembre
		  {% endcase %}
		  {{ post.date | date: "%Y" }}</small>
        </a>
      </h3>
    </li>
  {% endfor %}
</ul>
